h1{
    color:blue;
    font-family:"verdana";
}

h2{
    color:green;
    font-family: verdana;
}

h3{
    color:red;
    font-size:12px;
    font-family: 'Indie Flower', cursive;
}

A:VISITED{
    COLOR: aqua;
}

footer{
    color: blueviolet;
}

footer>p::after {
    content: "/Yanis";
}

#mugContainer{
    width:304px;height:228px;
    
}