h1{
    color:blue;
    font-family:"verdana";
}

h2{
    color:green;
    font-family: verdana;
}

h3{
    color:red;
    font-size:12px;
    font-family: 'Indie Flower', cursive;
}

A:VISITED{
    COLOR: aqua;
}

footer{
    color: blueviolet;
    background-color: greenyellow;
}

footer>p::after {
    content: "/Yanis";
}

img{
    width:304px;height:228px;
}

body {
    background-color: lightblue;
}

head{
    background-color: red;
}

main{
    font-family: verdana;
}