h1{
    color:blue;
    font-family:"verdana";
}

h2{
    color:green;
    font-family: verdana;
}

h3{
    color:red;
    font-size:12px;
}

A:VISITED{
    COLOR: aqua;
}

footer.p{
    color: blueviolet;
}