*{
    foont-family: "verdana";
}
header{

}
#maincontent{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
}

nav{
    width: 20%;
    float: left;
}

#con{
    width: 79%;
    float: right;
}

#logo{
    float: left;
    width:140px;
}

footer{
    clear: both;
}