*{
    foont-family: "verdana";
}
header{

}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
}

nav{
    width: 33%;
    float: left;
}

#con{
    width: 66%;
    float: right;
}

footer{
    clear: both;
}